    .password-changing-container{
    height: calc(100vh - 108px);
    position: relative;
    width: 400px;
    margin: auto;
    }
    .content {
        width: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h3 {
        text-align: center;
    }

    .content .form-group p {
        color:  red;
        font-size: .8rem;
        position: absolute;
        top: 100%;
    }