.signup-container{
max-width: 400px;
width: 400px;
margin: auto;
margin-top: 1.5rem;
}
.name {
    display: flex;
}

.name > div:first-child {
    margin-right: 5px;
}
.name > div:last-child {
    margin-left: 5px;
}

.signup-header h1 {
    text-align: center;
    font-weight: 400;
    font-size: 1.6rem;
}

.signup-avatar {
    width: 40px;
    height: 40px;
    background-color: #ab4;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.btn-submit {
    margin-top: 1.75rem;
}

.group-link {
    margin-top: 1.35rem;
    display: flex;
    flex-direction: row-reverse;
}

.group-link a{
    color: #ab4;
    font-weight: 400;
    letter-spacing: 0.01em;
    font-size: 1rem;
}

.copy-right {
    color: rgba(0, 0, 0, .6);
    font-weight: 400;
    letter-spacing: 0.01071em;
    font-size: 1rem;
    margin-top: 2rem;
    text-align: center;
}

.copy-right a {
    color: rgba(0, 0, 0, .6);
}
.signup-main .form-group p {
    color: red;
    font-size: .8rem;
    
}
